{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>

<body>
    <center>
        <h1> {{curso}} </h1>
        <img src="{% static 'images/django.png' %}">
        <h1> Status</h1>
        <p><b><a href="{% url 'admin' %}">Admin área</a></b></p>
        <p><b>{{ logado }}</b></p>
        <h1>Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
            {% for produto in produtos%}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
                    <td>{{produto.preco}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
        <br><br>
        <button onclick="teste();">Clique-me!</button>
    </center>
    <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>
</body>

</html>